#data wrangling with pandas

In [3]:
import urllib.request
urllib.request.urlretrieve ("http://www.hameenlinna.fi/pages/563719/"
                           "Ostolaskut/2014/"
                           "HML%20ostolaskut%202014%20julkaisu%20csv.zip",
                           "hml_tilit.zip")
import zipfile
zip_ref = zipfile.ZipFile("hml_tilit.zip", "r")
zip_ref.extractall(".")
zip_ref.close()

In [61]:
import pandas as pd
tili = pd.read_csv("Kirjaussuunnitelma 2014 tili.csv", 
                               encoding="iso-8859-15", sep=";", decimal=",") 
kp = pd.read_csv("Kirjaussuunnitelma 2014 kp.csv", 
                               encoding="iso-8859-15", sep=";", decimal=",") 
laskut = pd.read_csv("HML ostolaskut 2014 julkaisu final.csv",
                                encoding="iso-8859-15", sep=";", decimal=",")

In [62]:
laskut.columns

Index(['Tili', 'Tilin nimi', 'Kp', 'KP:n nimi', 'Tositepvm', 'Tositenumero',
       'Docid', 'Toimittaja', 'Y-tunnus', 'Tot eurot'],
      dtype='object')

In [63]:
all_ = laskut.merge(tili)
all_.Tili = all_.Tili.apply(str)
all_.Kp = all_.Kp.apply(str)
all_.Tositenumero = all_.Tositenumero.apply(str)
all_.Docid = all_.Docid.apply(str)

In [50]:
all_["Tili"].dtype

dtype('O')

In [70]:
grouped = all_.groupby("KP:n nimi")
sums = grouped.sum().sort_values("Tot eurot", ascending=False)

In [68]:
sums

            Tot eurot
Kp
1221  74877330.780000
7222  22999002.079999
1316  18519186.810000
1145   9387992.400000
9151   6720446.420000
9201   6320901.430000
7591   4925003.340000
1215   4543999.920000
1244   3703453.420000
1257   3656096.790000
1321   2894463.500000
3309   2892671.900000
1172   2826144.200000
1243   2618523.540000
1797   2552246.820000
1261   2476729.900000
1653   2406475.070000
1632   2265573.550000
7551   2230984.080000
1761   2163050.300000
1242   2135690.240000
1216   2060000.000000
1706   2040000.000000
1314   2033208.320000
9301   2005197.700000
6935   1939291.930000
9101   1866389.390000
1721   1732027.820000
1735   1701516.280000
1247   1675657.930000
...               ...
1814      5044.060000
3394      4168.690000
3601      3844.000000
3439      3783.700000
7241      3533.070000
3415      3223.410000
3641      3185.350000
1238      3012.050000
1737      2914.150000
1104      2768.540000
1634      2539.480000
3434      2003.030000
1881      2000.000000
3395      1801.200000
1171      1242.670000
1652      1121.410000
1141       920.540000
3438       890.480000
3437       764.750000
7020       736.440000
1859       730.170000
1114       483.330000
7111       476.740000
1255       220.000000
1876       138.930000
1822       108.570000
6918        24.190000
1741        13.980000
1138         6.450000
1874     -4225.800000

[369 rows x 1 columns]